<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="emailOrPhone">emailOrPhone</label>
            <input type="emailOrPhone"
                   class="form-control"
                   id="emailOrPhone"
                   formControlName="emailOrPhone">
            <div *ngIf="isInvalidForm('emailOrPhone')"
              class="alert alert-danger">

              <div *ngIf="isRequired('emailOrPhone')">
                emailOrPhone is required.
              </div>

              <div *ngIf="loginForm.controls['emailOrPhone'].errors.pattern">
                Must be valid emailOrPhone format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password">
          </div>
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <!-- <div *ngIf="errors.length>0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{errors.detail}}
          </p>
        </div> -->
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
        </div>
      </div>
    </div>
  </div>
</section>