<div class="alert alert-info"><auth-navvar></auth-navvar></div>

<div class="alert alert-info">
  <a  routerLink="/createRoles" ><button  class="btn btn-danger">
    Create Roles</button></a>

    <a  routerLink="/ActiveRoles" ><button  class="btn btn-danger">
      Active Roles</button></a>
      
      <a  routerLink="/DeactiveRoles" ><button  class="btn btn-secondary">
        Deactive Roles</button></a>
</div>

<div class="alert alert-dark">
  <h1>All Roles.....</h1>
</div>

<table >
  <tr>
    <th>id</th>
    <th>name</th>
    <th>displayName</th>
    <th>description</th>
    <th colspan="3">isDeleted</th>
  </tr>
  
    <tr *ngFor="let roles of role" class="alert alert-light " class= "table table-borderd" >
      <td> {{roles.id}}</td>
      <td> {{roles.name}}</td>
      <td> {{roles.displayName}}</td>
      <td> {{roles.description}}</td>
      <td> {{roles.isDeleted}}</td>
      <td><button (click)="deleteRole(roles.id)" class="btn btn-danger">Delete</button></td>
      <td> <button  class="btn btn-secondary">
        Edit Role
      </button> </td>
    </tr>
</table>
