<div class="alert alert-info"><auth-navvar></auth-navvar></div>

<div class="alert alert-info">
  <a  routerLink="/createUserRoleRelation" ><button  class="btn btn-danger">
    Create Relations</button></a>
    <a  routerLink="/ActiveRelation" ><button  class="btn btn-danger">
      Active Relations</button></a>
      <a  routerLink="/DeactiveRelation" ><button  class="btn btn-secondary">
        Deactive Relations</button></a>
</div>

<div class="alert alert-dark">
  <h1>Relations.....</h1>
</div>

<table >
  <tr>
    <th>id</th>
    <th>userId</th>
    <th>roleId</th>
    <th colspan="3">isDeleted</th>
  </tr>
  
    <tr *ngFor="let relation of relations" class="alert alert-light " class= "table table-borderd" >
      <td> {{relation.id}}</td>
      <td> {{relation.userId}}</td>
      <td> {{relation.roleId}}</td>
      <td> {{relation.isDeleted}}</td>
      <td><button (click)="deleteRelation(relation.id)" class="btn btn-danger">Delete</button></td>
      <td> <button  class="btn btn-secondary">
        Edit Role
      </button> </td>
    </tr>
</table>
