<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <!-- <a class="navbar-brand" routerLink="/home">Home</a> -->
  <div class="collapse navbar-collapse" id="navbarNav">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item clickable">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>