<div class="alert alert-info"><auth-navvar></auth-navvar></div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="updateUser() ">

        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="user.username" class="form-control" placeholder="userName" autofocus>
        </div>
        
        <div class="form-group">
          <input type="text" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
