<div class="alert alert-info"><auth-navvar></auth-navvar></div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form [formGroup]="relation"  (submit)=submitRelations() >
        <div class="form-group">
          <input type="userId" 
                name="userId" 
                formControlName="userId"  
                class="form-control"
                id="userId" 
                placeholder="UserId"  
                autofocus>
        </div>
        <div class="form-group">
          <input type="roleId" 
                 name="roleId" 
                 formControlName="roleId"   
                 class="form-control" 
                 id="roleId"
                 placeholder="RoleId" >
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Create Relations
        </button>
      </form>
    </div>
  </div>
</div>