/* You can add global styles to this file, and also import other style files */
@import 'variables';

html,body,p {
  color:$main-text-color;
}

.clickable{
  cursor: pointer;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 40px;
 
  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.bwm-form {
  color: $main-text-color;
  
  // background-color: rgb(226, 231, 236);
  // width:500px;

  form {
    margin-bottom: 20px;
    width: 250px;
  }

  .alert {
    p {
      margin: 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }

  label {
    font-size: 18px;
  }

  .form-text {
    font-size: 40px;
  }
  
  .navbar-custom { 
    background-color: rgb(55, 12, 211); 
    
} 


}